//  paleta de colores
$primary: #5eff00;
$dark: #242424;
$white: #fff;
$light: #f7f7f7f7;
$light2: #aaaaa8;

$gradient-primary: linear-gradient(to left bottom, #ba17ff, #43b6ff);

$success: #07bc0c;
$warning: #f1c40f;
$error: #e74c3c;

$rojo: #d80e0e;
