@use '../../sass/base/colors';

.producto {
    border: 1px solid colors.$light;
    padding: 1em;
    cursor: pointer;
    transition: transform 0.3s ease;

    display: flex;
    flex-direction: column;
    gap: .5em;

    &:hover {
        transform: scale(1.05);
    }

    &__img {
        width: 100%;
    }

    &__title {

    }

    &__price {
        margin-top: auto;
        text-align: center;
        font-size: 30px;
    }
}