@use '../../sass/base/colors';

.navbar {
    display: flex;
    flex-direction: row;
    background-color: colors.$light;
    padding: 1em;

    &__title {
        cursor: pointer;
        flex: 1;
        text-decoration: none;
    }

    &__list {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        gap: 5em;
    }

}